- content_for :title do
  422 Error

- content_for :body do
  %h3 Action was declined
  %p Maybe you don't have access?

.content-header
  .content-header-row.clearfix
    .content-header-info
      %h1.content-header-info-title 422 Error

