require 'fileutils'

server "<%= production_hostname %>",
       :user => "deploy",
       :roles => %w(app backup cron db redis sidekiq web)

set :branch do
  v = File.readlines('../../VERSION').to_a
  version = ENV.fetch("TAG", v[0])
  raise "Use tags: TAG=v1.0" unless version
  version
end